# Remove Editor Files
.idea
.vscode

# Remove Enviroment Variables
.env

# Remove User Data
userData

# Remove Compiled Files
ColouringApp
ColouringApp.exe
ColouringApp.zip

# Screenshots
# saved as screenshot0000.png, screenshot0001.png, etc.
screenshot*.png
